body {
  background: #283c86;
  background: -webkit-linear-gradient(to right, #45a247, #283c86);
  background: linear-gradient(to right, #45a247, #283c86);
}

.App {
  text-align: right;
}
.table {
  border-radius: 10px 10px 0px 0px;
}
.logout {
  margin: 20px;
  visibility: hidden;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.clearfix {
  overflow: auto;
}
.form-container {
  width: 40%;
  margin: 7% auto;
  padding: 20px 50px;
  border-radius: 10px;
  text-align: center;
}
.form-control {
  margin: 10px;
  width: 90%;
}

@media (max-width: 650px) {
  .form-container {
    width: 90%;
  }
}
@media (min-width: 651px) and (max-width: 1000px) {
  .form-container {
    width: 60%;
  }
}
